<h1>Welcome</h1>
<p>to a testing Apps that posting Facebook Status from the apps</p>
<div id="user_nav">
  <% if current_user %>
    Signed in as <strong><%= current_user.name %></strong>!
    <%= link_to "Sign out", signout_path, id: "sign_out" %>
  <% else %>
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
	
  <% end %>
  <br/><br/><%= link_to "What's in your mind?", status_path, id: "Status" %>
</div>

